In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Load the libraries

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

!pip install missingno
import missingno as mn
import numpy as np

Requirement already satisfied: missingno in /usr/local/lib/python3.6/dist-packages (0.4.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from missingno) (3.1.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from missingno) (0.9.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from missingno) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from missingno) (1.17.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->missingno) (1.1.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->missingno) (2.6.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->missingno) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->missingno) (2.4.6)
Requirement already satisfied: pandas>=0.15.2 in /usr/local/lib/python3.6/dist-packages (from seaborn->missingno) (0.25.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->missingno) (42.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib->missingno) (1.12.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.15.2->seaborn->missingno) (2018.9)

# Load Data

In [0]:
tr= pd.read_csv('/content/drive/My Drive/Colab Notebooks/PHD/train_data.csv')

In [0]:
tr.head()

                  date     farm_id ingredient_type  yield
0  2016-01-01 00:00:00  fid_110884           ing_w    0.0
1  2016-01-01 00:00:00   fid_90053           ing_w    0.0
2  2016-01-01 00:00:00   fid_17537           ing_w    0.0
3  2016-01-01 00:00:00  fid_110392           ing_w    0.0
4  2016-01-01 00:00:00   fid_62402           ing_w    0.0

In [0]:
tr.isnull().sum()

date               0
farm_id            0
ingredient_type    0
yield              0
dtype: int64

In [0]:
from datetime import datetime

In [0]:
#tr['date']=pd.DatetimeIndex(tr['date']).date

In [0]:
tr.head()

                  date     farm_id ingredient_type  yield
0  2016-01-01 00:00:00  fid_110884           ing_w    0.0
1  2016-01-01 00:00:00   fid_90053           ing_w    0.0
2  2016-01-01 00:00:00   fid_17537           ing_w    0.0
3  2016-01-01 00:00:00  fid_110392           ing_w    0.0
4  2016-01-01 00:00:00   fid_62402           ing_w    0.0

In [0]:
tr.dtypes

date                object
farm_id             object
ingredient_type     object
yield              float64
dtype: object

In [0]:
fr = pd.read_csv('/content/drive/My Drive/Colab Notebooks/PHD/farm_data.csv')

In [0]:
fr.head()

      farm_id  operations_commencing_year  ...  farming_company  deidentified_location
0  fid_110884                      2008.0  ...      Obery Farms          location 7369
1   fid_90053                      2004.0  ...      Obery Farms          location 7369
2   fid_17537                      1991.0  ...      Obery Farms          location 7369
3  fid_110392                      2002.0  ...      Obery Farms          location 7369
4   fid_62402                      1975.0  ...      Obery Farms          location 7369

[5 rows x 6 columns]

In [0]:
train_farm = pd.merge(tr,fr,on='farm_id')

In [0]:
train_farm.head()

                  date     farm_id  ... farming_company  deidentified_location
0  2016-01-01 00:00:00  fid_110884  ...     Obery Farms          location 7369
1  2016-01-01 01:00:00  fid_110884  ...     Obery Farms          location 7369
2  2016-01-01 02:00:00  fid_110884  ...     Obery Farms          location 7369
3  2016-01-01 03:00:00  fid_110884  ...     Obery Farms          location 7369
4  2016-01-01 04:00:00  fid_110884  ...     Obery Farms          location 7369

[5 rows x 9 columns]

In [0]:
train_farm.shape

(20602899, 9)

In [0]:
train_farm.drop('operations_commencing_year',axis=1,inplace=True)

In [0]:
train_farm.drop('num_processing_plants',axis=1,inplace=True)

In [0]:
train_farm.drop('farming_company',axis=1,inplace=True)

In [0]:
train_farm.isnull().sum()

date                     0
farm_id                  0
ingredient_type          0
yield                    0
farm_area                0
deidentified_location    0
dtype: int64

In [0]:
weather = pd.read_csv('/content/drive/My Drive/Colab Notebooks/PHD/train_weather.csv')

In [0]:
weather.head()

             timestamp deidentified_location  ...  precipitation  wind_speed
0  2016-01-01 00:00:00         location 7369  ...            NaN         0.0
1  2016-01-01 01:00:00         location 7369  ...           -1.0         1.5
2  2016-01-01 02:00:00         location 7369  ...            0.0         0.0
3  2016-01-01 03:00:00         location 7369  ...            0.0         0.0
4  2016-01-01 04:00:00         location 7369  ...           -1.0         2.6

[5 rows x 9 columns]

In [0]:
from datetime import datetime

In [0]:
weather.rename(columns={'timestamp':'date'},inplace=True)

In [0]:
weather.head()

                  date deidentified_location  ...  precipitation  wind_speed
0  2016-01-01 00:00:00         location 7369  ...            NaN         0.0
1  2016-01-01 01:00:00         location 7369  ...           -1.0         1.5
2  2016-01-01 02:00:00         location 7369  ...            0.0         0.0
3  2016-01-01 03:00:00         location 7369  ...            0.0         0.0
4  2016-01-01 04:00:00         location 7369  ...           -1.0         2.6

[5 rows x 9 columns]

In [0]:
weather.isnull().sum()

date                         0
deidentified_location        0
temp_obs                    55
cloudiness               69173
wind_direction            6268
dew_temp                   113
pressure_sea_level       10618
precipitation            50289
wind_speed                 304
dtype: int64

In [0]:
weather.fillna(weather.median(),inplace=True)

In [0]:
weather.shape

(139773, 9)

In [0]:
weather.isnull().sum()

date                     0
deidentified_location    0
temp_obs                 0
cloudiness               0
wind_direction           0
dew_temp                 0
pressure_sea_level       0
precipitation            0
wind_speed               0
dtype: int64

In [0]:
weather_train_farm = pd.merge(train_farm,weather, on=['deidentified_location','date'])

In [0]:
weather_train_farm.head()

                  date     farm_id  ... precipitation  wind_speed
0  2016-01-01 00:00:00  fid_110884  ...           0.0         0.0
1  2016-01-01 00:00:00   fid_90053  ...           0.0         0.0
2  2016-01-01 00:00:00   fid_17537  ...           0.0         0.0
3  2016-01-01 00:00:00  fid_110392  ...           0.0         0.0
4  2016-01-01 00:00:00   fid_62402  ...           0.0         0.0

[5 rows x 13 columns]

In [0]:
weather_train_farm.ingredient_type.unique()

array(['ing_w', 'ing_x', 'ing_y', 'ing_z'], dtype=object)

In [0]:
weather_train_farm.dtypes

date                      object
farm_id                   object
ingredient_type           object
yield                    float64
farm_area                float64
deidentified_location     object
temp_obs                 float64
cloudiness               float64
wind_direction           float64
dew_temp                 float64
pressure_sea_level       float64
precipitation            float64
wind_speed               float64
dtype: object

In [0]:
weather_train_farm.set_index('date', inplace=True)

In [0]:
weather_train_farm.dtypes

farm_id                   object
ingredient_type           object
yield                    float64
farm_area                float64
deidentified_location     object
temp_obs                 float64
cloudiness               float64
wind_direction           float64
dew_temp                 float64
pressure_sea_level       float64
precipitation            float64
wind_speed               float64
dtype: object

In [0]:
weather_train_farm.shape

(20511532, 12)

In [0]:
  cat_cols = ['farm_id', 'deidentified_location', 'ingredient_type']

  # create a list for all numerical column names
  num_cols = weather_train_farm.columns[~weather_train_farm.columns.isin(cat_cols)]

  # remove target column('yield')
  num_cols = num_cols.drop('yield')

  num_cols

Index(['farm_area', 'temp_obs', 'cloudiness', 'wind_direction', 'dew_temp',
       'pressure_sea_level', 'precipitation', 'wind_speed'],
      dtype='object')

In [0]:
weather_train_farm[cat_cols] = weather_train_farm[cat_cols].apply(lambda x : x.astype('category'))

In [0]:
for x in cat_cols :
    print(x, '----->>', weather_train_farm[x].unique(), '\n')

farm_id ----->> [fid_110884, fid_90053, fid_17537, fid_110392, fid_62402, ..., fid_36739, fid_112848, fid_58769, fid_117010, fid_74945]
Length: 1434
Categories (1434, object): [fid_110884, fid_90053, fid_17537, fid_110392, ..., fid_112848, fid_58769,
                            fid_117010, fid_74945]

deidentified_location ----->> [location 7369, location 6364, location 959, location 5489, location 2532, ..., location 4525, location 8421, location 5410, location 1784, location 868]
Length: 16
Categories (16, object): [location 7369, location 6364, location 959, location 5489, ...,
                          location 8421, location 5410, location 1784, location 868]

ingredient_type ----->> [ing_w, ing_x, ing_y, ing_z]
Categories (4, object): [ing_w, ing_x, ing_y, ing_z]

In [0]:
weather_train_farm.dtypes

farm_id                  category
ingredient_type          category
yield                     float64
farm_area                 float64
deidentified_location    category
temp_obs                  float64
cloudiness                float64
wind_direction            float64
dew_temp                  float64
pressure_sea_level        float64
precipitation             float64
wind_speed                float64
dtype: object

In [0]:
weather_train_farm.isnull().sum()

farm_id                  0
ingredient_type          0
yield                    0
farm_area                0
deidentified_location    0
temp_obs                 0
cloudiness               0
wind_direction           0
dew_temp                 0
pressure_sea_level       0
precipitation            0
wind_speed               0
dtype: int64

In [0]:
 # independent variables
X = weather_train_farm.drop('yield', axis = 1)

# dependent variable
y = weather_train_farm['yield']

In [0]:
X.dtypes

farm_id                  category
ingredient_type          category
farm_area                 float64
deidentified_location    category
temp_obs                  float64
cloudiness                float64
wind_direction            float64
dew_temp                  float64
pressure_sea_level        float64
precipitation             float64
wind_speed                float64
dtype: object

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

#num_scaler = StandardScaler()

def prepare_data(X, y, split_size = 0.3) :
    
    
    ## train test split
    X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                        test_size = split_size)  
    
    ## fit num_scaler
    #num_scaler.fit(X_train[num_cols])
    
    print(X_train.shape)
    print(X_test.shape)
    
    return X_train, X_test, y_train, y_test

In [0]:
#def preprocess_data(data, scale = False) :
    
    # scale numeric features
    #if scale == True :
        #tranform numeric data using num_scaler
        #data[num_cols] = num_scaler.transform(data[num_cols])
    
    # dummify categorical features
    
    #data = pd.get_dummies(data, drop_first = False)

    #return data

In [0]:
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict

encoder = defaultdict(LabelEncoder)

# Encoding the categorical features on full data
cat_encoder = weather_train_farm.apply(lambda x: encoder[x.name].fit_transform(x))

In [0]:
from sklearn.model_selection import GridSearchCV

def model_building(X, y, test, model, params = None, k = 1) :
    
    if params == None :
        
        ## Fit model 
        model.fit(X, y)
        
        # return fitted model & train-test predictions
        return (model, model.predict(X), model.predict(test))
    
    else :
        
        model_cv = GridSearchCV(model, param_grid = params, cv = k)
        
        ## Fit model_cv using 
        model_cv.fit(X, y)
        
        ## check best estimator 
        model = model_cv.best_estimator_
        
        print(model_cv.best_estimator_)
        # return and extra object for all cross validation operations
        return (model_cv, model, model.predict(X), model.predict(test))

In [0]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
from math import sqrt

def model_evaluation(y_train, pred_train, y_test, pred_test) :
    
    print('''
            =========================================
               RMSE FOR TRAIN DATA
            =========================================''')
    print("\nRoot Mean Squared Error : ", sqrt(mean_squared_error(y_train, pred_train)))
    
    print('''
            =========================================
               RMSE FOR TEST DATA
            =========================================''')
    print("\nMean Squared Error : ", sqrt(mean_squared_error(y_test, pred_test)))

In [0]:
## Use prepare_data and get X_train, X_test, y_train, y_test where split size = 0.2

X_train, X_test, y_train, y_test = prepare_data(X, y, 0.2)

(16409225, 11)
(4102307, 11)

In [0]:
# Transfrom the train & test splits
X_train[cat_cols] = X_train[cat_cols].apply(lambda x: encoder[x.name].transform(x))
X_test[cat_cols] = X_test[cat_cols].apply(lambda x: encoder[x.name].transform(x))

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [0]:
X_train.dtypes

farm_id                    int64
ingredient_type            int64
farm_area                float64
deidentified_location      int64
temp_obs                 float64
cloudiness               float64
wind_direction           float64
dew_temp                 float64
pressure_sea_level       float64
precipitation            float64
wind_speed               float64
dtype: object

In [0]:
X_train_nsc = X_train
X_test_nsc = X_test

In [0]:
from sklearn.ensemble import AdaBoostRegressor

estimator = AdaBoostRegressor()
model, pred_train, pred_test = model_building(X_train_nsc,y_train,X_test_nsc,estimator)
model_evaluation(y_train, pred_train, y_test, pred_test)

            =========================================
               RMSE FOR TRAIN DATA
            =========================================

Root Mean Squared Error :  126026.44004289542

            =========================================
               RMSE FOR TEST DATA
            =========================================

Mean Squared Error :  124057.17524469267

In [0]:
#model_evaluation(y_train, pred_train, y_test, pred_test)

In [0]:
ts= pd.read_csv('/content/drive/My Drive/Colab Notebooks/PHD/test_data.csv')

In [0]:
fr = pd.read_csv('/content/drive/My Drive/Colab Notebooks/PHD/farm_data.csv')

In [0]:
test_farm = pd.merge(ts,fr,on='farm_id')

In [0]:
test_farm.drop('operations_commencing_year',axis=1,inplace=True)

In [0]:
test_farm.drop('num_processing_plants',axis=1,inplace=True)

In [0]:
test_farm.drop('farming_company',axis=1,inplace=True)

In [0]:
test_farm.isnull().sum()

date                     0
farm_id                  0
ingredient_type          0
id                       0
farm_area                0
deidentified_location    0
dtype: int64

In [0]:
weather1 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/PHD/test_weather.csv')

In [0]:
from datetime import datetime

In [0]:
weather1.rename(columns={'timestamp':'date'},inplace=True)

In [0]:
weather1.isnull().sum()

date                         0
deidentified_location        0
temp_obs                    43
cloudiness               69065
wind_direction            6134
dew_temp                   184
pressure_sea_level       10883
precipitation            47788
wind_speed                 240
dtype: int64

In [0]:
weather1.fillna(weather.median(),inplace=True)

In [0]:
weather1.isnull().sum()

date                     0
deidentified_location    0
temp_obs                 0
cloudiness               0
wind_direction           0
dew_temp                 0
pressure_sea_level       0
precipitation            0
wind_speed               0
dtype: int64

In [0]:
weather1_test_farm = pd.merge(test_farm,weather1, on=['deidentified_location','date'])

In [0]:
weather1_test_farm.dtypes

date                      object
farm_id                   object
ingredient_type           object
id                         int64
farm_area                float64
deidentified_location     object
temp_obs                 float64
cloudiness               float64
wind_direction           float64
dew_temp                 float64
pressure_sea_level       float64
precipitation            float64
wind_speed               float64
dtype: object

In [0]:
weather1_test_farm.set_index('date', inplace=True)

In [0]:
cat_cols = ['farm_id', 'deidentified_location', 'ingredient_type']

  # create a list for all numerical column names
 
num_cols = weather1_test_farm.columns[~weather1_test_farm.columns.isin(cat_cols)]
 
num_cols

Index(['id', 'farm_area', 'temp_obs', 'cloudiness', 'wind_direction',
       'dew_temp', 'pressure_sea_level', 'precipitation', 'wind_speed'],
      dtype='object')

In [0]:
weather1_test_farm[cat_cols] = weather1_test_farm[cat_cols].apply(lambda x : x.astype('category'))

In [0]:
weather1_test_farm[cat_cols] = weather1_test_farm[cat_cols].apply(lambda x: encoder[x.name].transform(x))

In [0]:
for x in cat_cols :
    print(x, '----->>', weather1_test_farm[x].unique(), '\n')

farm_id ----->> [ 142 1307  376 ...  167  940  223]

deidentified_location ----->> [12 10 15  6  1  4  9  8  3 11  7  2 13  5  0 14]

ingredient_type ----->> [0 1 2 3]

In [0]:
weather1_test_farm.dtypes

farm_id                    int64
ingredient_type            int64
id                         int64
farm_area                float64
deidentified_location      int64
temp_obs                 float64
cloudiness               float64
wind_direction           float64
dew_temp                 float64
pressure_sea_level       float64
precipitation            float64
wind_speed               float64
dtype: object

In [0]:
weather1_test_farm.isnull().sum()

farm_id                  0
ingredient_type          0
id                       0
farm_area                0
deidentified_location    0
temp_obs                 0
cloudiness               0
wind_direction           0
dew_temp                 0
pressure_sea_level       0
precipitation            0
wind_speed               0
dtype: int64

In [0]:
weather1_test_farm.drop('id',axis=1,inplace=True)

In [0]:
weather1_test_farm.dtypes

farm_id                    int64
ingredient_type            int64
farm_area                float64
deidentified_location      int64
temp_obs                 float64
cloudiness               float64
wind_direction           float64
dew_temp                 float64
pressure_sea_level       float64
precipitation            float64
wind_speed               float64
dtype: object

In [0]:
X_train.dtypes

farm_id                    int64
ingredient_type            int64
farm_area                float64
deidentified_location      int64
temp_obs                 float64
cloudiness               float64
wind_direction           float64
dew_temp                 float64
pressure_sea_level       float64
precipitation            float64
wind_speed               float64
dtype: object

In [0]:
omkar=model.predict(weather1_test_farm)

In [0]:
omkar=pd.DataFrame(omkar,columns=['yield'])

In [0]:
omkar.to_csv('/content/drive/My Drive/Colab Notebooks/PHD/submissionfinal123adaboost.csv')